@model IEnumerable<Blog.Tag>
<style>
    #yazi {
        font-family: 'Times New Roman';
    }
</style>

<div class="sidebox widget">
    <h3 class="widget-title section-title" id="yazi">Təqlər</h3>
    <ul class="tag-list">
        @foreach (Blog.Tag tag in Model)
        {
            <li><a href="/Tag/Index/@tag.TagId" id="yazi">@tag.Name (@tag.Articles.Count)</a></li>
        }


    </ul>
    <!-- /.tag-list -->

</div>