@{ 
    Layout = null;
}
<div class="sidebox widget">
    <h3 class="widget-title section-title">Axtar</h3>
    <form class="searchfrom" action="Home/Search/" method="post">
        <label><i class="icon-search"></i></label>
        <input type="text" id="s2" name="content" value="Axtaracağınız Söz" onfocus="this.value=''" onblur="this.value='Axtaracağınız Söz'" />
        <button type="submit" class="btn">Axtar</button>
    </form>
</div>
